




@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap");

:root {
  --primary-color: #00605f;
  --secondary-color: #017479;
  --text-dark: #0f172a;
  --text-light: #94a3b8;
  --white: #ffffff;
  --max-width: 1400px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background: linear-gradient(
      to right,
      rgba(2, 82, 89, 0.9),
      rgba(255, 255, 255, 0)
    ),
   
}
video{
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: fixed;

}

.main{
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.container {
  position: absolute;
  max-width: var(--max-width);
  min-height: 100vh;
  margin: auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.nav__logo img {
  max-width: 75px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.196);
}

.nav__links {
 
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3.5rem;
  color: rgb(255, 255, 255);
  border-radius: 50px;
  background-color: rgba(104, 101, 101, 0);
}
#home:hover,
#destinations:hover,
#contact:hover,
#blog:hover {
  transform: scale(1.5);
  border-radius: 4px;
  transition: 0.5s;

}

.link a {
  text-decoration: none;
  font-weight: bolder;
  color: white;
  
}

.search {
  width: 100%;
  max-width: 300px;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  background-color: var(--white);
  border-radius: 2rem;
  transition: 0.3s;
}

.search input {
  width: 100%;
  font-size: 1rem;
  color: var(--primary-color);
  outline: none;
  border: none;
}

.search input::placeholder {
  color: var(--secondary-color);
}

.search span {
  font-size: 1.5rem;
  color: var(--primary-color);
}

.login {
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  font-weight: 600;
  color: var(--white);
  background-color: var(--primary-color);
  border-radius: 2rem;
  cursor: pointer;
  transition: 0.3s;
}

.login:hover {
  background-color: var(--secondary-color);
}

.login span {
  padding: 5px 10px;
  font-size: 1rem;
  color: var(--primary-color);
  background-color: var(--white);
  border-radius: 100%;
}

.destination__container {
  position: relative;
  padding: 5rem 0 5rem 5rem;
  flex: 1;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 2rem;
  align-items: center;
}

.bg__img__1 {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-100%);
  opacity: 0.6;
  z-index: -1;
}

.bg__img__2 {
  position: absolute;
  bottom: 2rem;
  right: 50%;
  transform: translateX(100%);
  opacity: 0.8;
  z-index: -1;
}

.socials {
  position: fixed;
  top: 23.5rem;
  left: 10px;
 
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.socials::after {
  position: absolute;
  content: "";
  top: -15rem;
  left: 15px;
  height: 14rem;
  width: 2px;
  background-color: var(--white);
}

.socials .insta {
 color: #5d007e;
}

.socials a:hover{
  color: #ffffff;
  transform: scale(1.1);
}


.socials span {
  font-size: 2rem;
  color: var(--white);
}
.fb{
  color: blue;
}
.yt{
  color: red;
}

.tw{
  color: rgb(3, 8, 161);
 
 
}





.content h1 {
  margin-bottom: 1rem;
  font-size: 4.5rem;
  font-weight: 800;
  color: var(--white);
}

.content h1 span {
  
  background-color: #0f172ad9;
  color: #1cd0da;
  padding: 2px;

}

.content p {
  max-width: 350px;
  margin-bottom: 2rem;
  line-height: 1.5rem;
  font-size: 1rem;
  font-weight: 800;
  color: rgb(239, 247, 255);
}
.content .btn:hover{
  background-color: #0f172ad9;
  color: #1cd0da;
  transform: scale(1.1);
  font-weight: bolder;
}

.content .btn {
  padding: 0.75rem 2rem;
  outline: none;
  border: none;
  font-size: 1rem;
  font-weight: 600;
  color: var(--white);
  background-color: var(--secondary-color);
  cursor: pointer;
}

.destination__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.destination__card {
  height: 100%;
  background-color: var(--white);
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.7);
}

.destination__card img {
  width: 100%;
}

.card__content {
  padding: 1rem;
}

.card__content h4 {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--text-dark);
}

.card__content p {
  margin-bottom: 1rem;
  font-size: 0.9rem;
  line-height: 1.5rem;
  color: var(--text-light);
}
.card1:hover,
.card2:hover,
.card3:hover {
  transform: scale(1.1);
  box-shadow:80px;
}

.card__content .btn {
  padding: 0.5rem 1rem;
  outline: none;
  border: none;
  font-weight: 500;
  color: var(--white);
  background-color: var(--primary-color);
  cursor: pointer;
}
.card__content .btn:hover{
  background-color: #0f172a;
  color: white;
}


@media (width < 1200px) {
 
  .nav__links {
    width: 100vw;
    border-radius: 0;
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    flex-direction: row;
    position:absolute;
    align-items: end;
    justify-content: space-evenly;
    background-color: #000000; 
    padding: 1rem;
    gap: 2rem;
    overflow: hidden;
    transform: translateY(100%);
    transition: transform 0.3s ease-in;
  }
  
  
  .search {
    max-width: 500px;
  }

  .destination__container {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 900px) {
  

  .content h1 {
    font-size: 4rem;
  }

  .destination__grid {
    grid-template-columns: repeat(2, 1fr);
  }

  
  .nav__links {
    width: 100vw;
    border-radius: 0;
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    flex-direction: row;
    position:absolute;
    align-items: end;
    justify-content: space-evenly;
    background-color: #000000; 
    padding: 1rem;
    overflow: hidden;
    transform: translateY(100%);
    transition: transform 0.3s ease-in;
  }
}


@media (width < 600px) {
.login i{
 display: none;

}
.login{
  background-color: transparent;
  position: relative;
  left: 10px;
}


.search {
  width: 350px;
  max-width: 300px;
}

  .destination__container {
    padding-left: 3rem;
  }

  .content h1 {
    font-size: 3rem;
  }

  .destination__grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
